# Embedded & Virtual Environment Runtimes
.runtime/
venv/
env/
.venv/

# Python compiled bytecode & caches
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Database temporary journals
*.db-wal
*.db-shm
*backup*.db
test*.db

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Editor / IDE configuration
.idea/
.vscode/
*.swp
*.swo
